.topics-list {
  display: flex;
  flex-direction: column;
  width: 22%;
}

.topics-list li {
  margin-left: 20px;
  list-style: none;
  border: solid 1px #fff;
  width: auto;
  text-align: justify;
  background-color: #000;
  margin-right: 2px;
}

.topics-list a {
  text-decoration: none;
  color: white;
}
